<div class="row">
    <div class="col col-sm-12 col-md-3">
        <a href="/shop/shopMenu" class="btn btn-info"><span class = "glyphicon glyphicon-chevron-left"></span>  Go Back</a>
    </div>
    <center>
        <div class="col col-sm-12 col-md-6">
            <a href="/">
                <h2 style="margin-top:0px">College Canteen</h2>
            </a>
        </div>
    </center>
    <div class="col col-sm-12 col-md-3">
        <a href="/shop/logout" class = "btn btn-danger pull-right">Log out &nbsp;&nbsp;<span class="glyphicon glyphicon-share"></span></a>
    </div>
</div>
<hr>

<form action="/shopOperation/addItems" method = "post">
    Shop Name :
    <select name="shopName">
        {{#each shop}}
            <option value="{{this.shopName}}">{{this.shopName}}</option>
        {{/each}}
     </select>
     <br>
    Item Name : <input type="text" name = "itemName"><br>
    Price: <input type="number" name = "price"><br>
    Quantity : <input type="number" name = "quantity"><br>
    Category: <select name="category" >
        <option value="-">-</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
    <br>
    <button type="submit">Add Item</button>
</form>