Add a student :

<br>
<form action="/shopOperation/addStudentDetails" method = "POST">
    Registration number : <input type="text" name = "regdNo"><br>
    Name: <input type="text" name = "name"><br>
    Password : <input type="password" name = "password">
    <button type="submit">Submit</button>
</form>