<!DOCTYPE html>
<html lang = "en">

<head>
    <title>College Canteen</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
</head>

<body>
    <div class="container">
        {{> header}} {{{body}}} {{> footer}}
    </div>
</body>

</html>