<!-- Comment out later for security / or completely remove ...-->
<a href="/shopSignUp">Shop Sign Up</a><br>    
<!-- Comment out later -->
<a href="/shopSignIn">Shop Sign In</a><br>
<a href="/studentLogin">Student Login</a><br>