<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/shop/biraj">Biraj ko</a>
<a href="/shop/bunny">bunny ko</a>
<a href="/shop/dalla">dalla</a>
<a href="/shop/mero">mero</a>

<form action="/" method="post">
    Shop Name : <input type="text" name="shopName">
    <br>Item Name : <input type="text" name="itemName">
    <br>Price : <input type="text" name="price">
    <br>Category : <input type="text" name="category">
    <button type="submit">Submit</button>
</form>