<strong>Shop Name :{{results.0.shopName}}</strong>
<p></p>
{{#each results}}
<p>ItemName : {{this.item.itemName}}</p>
<p>Price : {{this.item.price}}</p>
<p>Category: {{this.item.category}}</p>
{{/each}}