{{#if hasErrors}}
<h1>
    {{#each errors}}
        <i>{{this}}</i><br>
    {{/each}}
</h1>
{{/if}}
<form action="/shop/signin" method = "post">
    Shop Name : <input type="text" name = "shopName">
    Password : <input type="password" name = "password">
    <input type="hidden" name = "_csrf" value = "{{csrfToken}}">
    <button type="submit">Submit</button>
</form>
