<div class="row">
    <div class="col col-sm-12 col-md-3">
        <a href="/shop/shopMenu" class="btn btn-info"><span class = "glyphicon glyphicon-chevron-left"></span>  Go Back</a>
    </div>
    <center>
        <div class="col col-sm-12 col-md-6">
            <a href="/">
                <h2 style="margin-top:0px">College Canteen</h2>
            </a>
        </div>
    </center>
    <div class="col col-sm-12 col-md-3">
        <a href="/shop/logout" class = "btn btn-danger pull-right">Log out &nbsp;&nbsp;<span class="glyphicon glyphicon-share"></span></a>
    </div>
</div>
<hr>
{{# each results}}
<div class="jumbotron">
    <center>
        <h3> <b>Name:</b>{{this.name}}
            <br><br>
            <b>Regd No:</b>{{this.regdNo}}
            <br><br>
            <b>Password:</b>{{this.password}}</h3>
        <hr> {{/each}}
    </center>
</div>