{{#if hasErrors}}
<h1>
    {{#each errors}}
    <i>{{this}}</i><br> {{/each}}
</h1>
{{/if}}
<div class="jumbotron">
    <div class="row">
        <form action="/shop/signin" method="post">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-shopping-cart"></i></span>
                    <input id="regNo" type="text" class="form-control" name="shopName" placeholder="Shop Name">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </div>
                <br>
                <center>
                    <button id="loginBtn" type="submit" class="btn btn-primary">submit</button>
                </center>
            </div>
        </form>
    </div>
</div>