{{# each results}}
<div class="jumbotron">
    <center>
        <h3> <b>Name:</b>{{this.name}}
            <br><br>
            <b>Regd No:</b>{{this.regdNo}}
            <br><br>
            <b>Password:</b>{{this.password}}</h3>
        <hr> {{/each}}
    </center>
</div>