{{#if hasErrors}}
<div class="alert alert-danger">
    {{#each errors}}
        <b>{{this}}</b>
        <br> 
    {{/each}}
</div>
{{/if}}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <center>
            <h1>Shop Login</h1>
        </center>
        <br>
        <div class="jumbotron">
            <form action="/shop/signin" method="post">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </span>
                    <input id="regNo" type="text" class="form-control input-lg" name="shopName" placeholder="Shop Name">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input id="password" type="password" class="form-control input-lg" name="password" placeholder="Password">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </div>
                <br>
                <center><button id="loginBtn" type="submit" class="btn btn-primary btn-lg">submit</button></center>
            </form>
        </div>
    </div>
</div>
</div>