<!-- Validation Error -->
<form action="/shop/signup" method = "post">
    Shop Name : <input type="text" name = "shopName">
    Password : <input type="password" name = "password">
    <input type="hidden" name = "_csrf" value = "{{csrfToken}}">
    <button type="submit">Submit</button>
</form>
