{{result}}

<form action="/studentLogin" method="post">
    Regd No : <input type="text" name = "regdNo"><br>
    Password : <input type="password" name = "password"><br>
    <button type="submit">Log in </button>
</form>